<div class="fg-edit-canvas" ng-class="{ 'fg-edit-canvas-dragging': dragging }">
    <!--<div class="form-horizontal">-->
        <fieldset>
            <legend>Canvas</legend>


            <div class="fg-edit-canvas-area"
                 dnd-list="schema.fields">
                <div ng-if="!(schema.fields.length)">
                    <div ng-if="!dragPlaceholder.visible" class="fg-edit-canvas-area-empty alert alert-info text-center">
                        <p class="fg-edit-canvas-area-empty-x">X</p>
                        <p class="lead hidden-phone"><strong>Drag</strong> one of the available <strong>templates</strong> from the
                            <strong>palette</strong> onto this <strong>canvas</strong>.</p>
                    </div>
                </div>
                <div ng-repeat="field in schema.fields"
                      dnd-draggable="field"
                      dnd-effect-allowed="move"
                      dnd-moved="schema.fields.splice($index, 1)"
                      dnd-selected="selected = field"
                      ng-class="{selected: selected === field}">
                    <div fg-edit-canvas-field></div>
                </div>
            </div>
        </fieldset>
    <!--</div>-->
</div>
